$p-green:#bec894;
$p-black:#2e2e28;
$p-white:#e7e5da;
$p-orange:orange;

@import'main';
@import'about';
@import'app1';
@import'history';
@import'phone';
@import'work';
@import'workdetail';
